<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="acme-website"
             deploymentSecret="316y9gzrhqj2ft8npfly1rxlb4nx5ithtu136a8a5l9"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
